<div id="<%= dom_id entertainment %>">
  <p>
    <strong>Title:</strong>
    <%= entertainment.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= entertainment.description %>
  </p>

  <p>
    <strong>Release date:</strong>
    <%= entertainment.release_date %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= entertainment.genre %>
  </p>

  <p>
    <strong>Entertainment type:</strong>
    <%= entertainment.entertainment_type %>
  </p>

  <p>
    <strong>Post:</strong>
    <%= entertainment.post_id %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= entertainment.review_id %>
  </p>

</div>
