<%= form_with(model: entertainment) do |form| %>
  <% if entertainment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(entertainment.errors.count, "error") %> prohibited this entertainment from being saved:</h2>

      <ul>
        <% entertainment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :release_date, style: "display: block" %>
    <%= form.date_field :release_date %>
  </div>

  <div>
    <%= form.label :genre, style: "display: block" %>
    <%= form.text_area :genre %>
  </div>

  <div>
    <%= form.label :entertainment_type, style: "display: block" %>
    <%= form.text_field :entertainment_type %>
  </div>

  <div>
    <%= form.label :post_id, style: "display: block" %>
    <%= form.text_field :post_id %>
  </div>

  <div>
    <%= form.label :review_id, style: "display: block" %>
    <%= form.text_field :review_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
