<%= render 'commons/top_bar_partial' %>
<main>
  <div class="carousel">
    <a href="<%= new_post_path %>" class="add-post-button">
      <div class="playing-card">+</div>
    </a>

    <% @posts.each do |post| %>
      <div class="playing-card">
      <div class="post-wrapper">
     <h2 class='whitelink'><%= link_to post.media_title, post_path(post) %></h2>
        <p>Description: <%= post.description %></p>
        <p>Stars: <%= post.stars %> </p>
        <!-- Add other attributes as needed -->

        </div>
      </div>
    <% end %>
  </div>
</main>
<%= render partial: 'commons/bottom_bar_partial' %>

