<section id="auth" class="github-container">
      <% if user_signed_in? %>
        <div class="row alert alert-dark">
          <div class="col-md-10">
            <p> Hello, <%= current_user.email %></p>
          </div>
          <div class="col-md-2">
            <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-warning" %>
          </div>
        </div>
      <% else %>
        <div class="row alert alert-dark">
          <div class="col-md-10">
            <p> Hello, guest</p>
          </div>
            <div class="col-md-2">
            <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>
          </div>
          <div class="col-md-2">
            <%= link_to "Sign in", new_user_session_path, class: "btn btn-primary" %>
          </div>
          <div class="col-md-2">
            <%= button_to "Sign in With Github",  user_github_omniauth_authorize_path,data: {turbo: false} %>
            </div>
        </div>
      <% end %>
    </section>
    <section id="flash" class="container">
      <% if flash[:notice] %>
        <div class="alert alert-info">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert alert-warning">
          <%= flash[:alert] %>
        </div>
      <% end %>
    </section>