<!-- Top Bar -->
<header class="top-bar">
  <h1>Tracker</h1>
  <%= render 'github_partial' %>
</header>
<!-- Main Content Container -->
<%= render 'flash_partial' %>
<div class="content">
  <!-- Left Division -->
  <section class="gallery">
    <h2>Gallery</h2>
    <img src="https://static.vecteezy.com/system/resources/previews/024/402/893/non_2x/stars-capes-galaxy-screenshot-and-wallpaper-in-the-style-of-whimsical-cartoon-style-light-blue-and-magenta-luminous-spheres-toycore-mysterious-forms-generat-ai-free-photo.jpg" alt="Image Description" class="circular-image"> <!-- need to add a profile image -->
    <%= link_to "Browse All", root_path, class: "button" %>
    <%= link_to "Browse Network", root_path, class: "button" %>
  </section>
  <!-- Profile -->
  <aside class="profile">
    <h2>Profile</h2>
    <img src="https://static.vecteezy.com/system/resources/thumbnails/020/765/399/small/default-profile-account-unknown-icon-black-silhouette-free-vector.jpg" alt="Image Description" class="circular-image"> <!-- need to add a profile image -->
    <%= link_to "Go To Profile", profile_path, class: "button" %>
    <%= link_to "Create A Post", root_path, class: "button" %>
  </aside>
</div>


