<div class="container">
  <div class="speech-bubble">
    <div class="content-wrapper content">

    <% if @post.movie.present? %>
        <%= render partial: 'shared/movie_partial', locals: { post: @post } %>
      <% elsif @post.game.present? %>
        <%= render partial: 'shared/game_partial', locals: { post: @post } %>

      <% elsif @post.show.present? %>
        <%= render partial: 'shared/show_partial', locals: { post: @post } %>
      <% else %>
        <!-- Handle the case when none of the keys are present -->
      <% end %>
      
    <div class="text-box right-division">
      <p><%= @post.description %></p>
    </div>
    </div>
  </div>
</div>
<div class="user-info-bar">
  <div class="user-info">
    <img src="https://static.vecteezy.com/system/resources/thumbnails/020/765/399/small/default-profile-account-unknown-icon-black-silhouette-free-vector.jpg" alt="User Image" class="circular-image">
    <div class="user-details">
      <p class="username"><%= @post.user.email %></p>
      <%= link_to "View this Profile", profile_path , class: "button" %>
    </div>
  </div>
</div>
<div class="bottom-bar">
  <a href="<%= galleries_path %>">Gallery</a>
  <a href="<%= root_path %>">Dashboards</a>
  <a href="<%= profile_path %>">Profile</a>
</div>
