<%= render 'commons/top_bar_partial' %>
<div class="gallery-index">
  <% @posts.each do |post| %>
    <div class="post">
      <div class="post-title">
        <%= link_to post.media_title, post_path(post), class: 'whitelink'%>
        <p> Description: <%= post.description%> <p>
        <p> Rating: <%= post.stars %> / 5 <p>
      </div>
    </div>
  <% end %>
</div>
<%= render partial: 'commons/bottom_bar_partial' %>
